{{ define "main" }}
    <div class="post-meta">
        {{ partial "nav.html" .}}
    </div>
    <article class="post-content">
        <h1>{{ .Title }}</h1>
        <div id="post-meta">
            <time datetime="{{ .Date }}">
                {{ .Date | time.Format site.Params.theme_config.date_format }}
                <span> ‧ {{ .WordCount }}</span>
                <span>words</span>
                <!--            ‧ <span>tags : </span>-->
                <!--            {{ if .Params.tags }}-->
                <!--                    {{ range .Params.tags }}-->
                <!--                    <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>-->
                <!--                    {{ end }}-->
                <!--            {{ end }}-->
            </time>
            {{ if .Description }}
            <blockquote id="post-description">
                {{ .Description }}
            </blockquote>
            {{ end }}
        </div>

        {{ if .Params.toc | default true }}
        <div class="post-toc-mobile" id="post-toc-mobile" data-pagefind-ignore>
            <details>
                <summary>📑 Table of Contents</summary>
                {{ partial "toc.html" . }}
            </details>
        </div>
        <hr>
        <div  class="post-toc" id="post-toc" data-pagefind-ignore>
            <header><strong>
                📑 Table of Contents</strong>
            </header>
            {{ partial "toc.html" . }}
        </div>
        {{ end }}


        <div id="post-content">
            {{ .Content | safeHTML }}
            {{ if .Params.search }}
            {{ partial "pagefind.html" . }}
            {{ end }}
        </div>
        <br>
        <div style="padding-bottom:3px;"></div>
    </article>

{{ if .Params.comment | default true }}
<br>
<script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
<img src="/site/ghostszombies.gif" class="divider" style="display: block; margin-left: auto; margin-right: auto;" />
<div id="comments" class="comments">
    {{ partial "comment.html" . }}
</div>
{{ end }}
    {{- partial "footer.html" . -}}
{{ end }}
