{{ define "main" }}
{{ $aboutNav := resources.Get "css/_about-nav.scss" | toCSS }}
<link rel="stylesheet" href="{{ $aboutNav.RelPermalink }}">
<style>

</style>

<header>
    <div class="header-container" style="min-height: 70vh">
        <div class="header-inner">
            <div class="header-left">
                <img src="/cat/tumblrcat.png" alt="Icon" class="header-img">
                {{ partial "nav_index" . }}
            </div>
            <div class="header-content">
            <h2>{{ .Title }}</h2>
            <div id="taxonomy-list" >
                {{- $posts := .Pages }}
                {{- $posts = where $posts "Params.draft" "ne" true }}
                {{- $posts = where $posts "Params.hidden" "ne" true }}
                {{- range $post := $posts }}
                <div class="tags" >
                    <a href="{{ $post.Permalink | relURL }}"><span class="tag">＃ {{ $post.Title }} </span></a>
                </div>
                {{- end }}


            </div>
                <div class="taxonomy-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</header>


<hr class="decoration-hr">
{{ partial "footer.html" . }}
{{ end }}
