//new
@font-face {
  font-family: 'HuiwenFangsong';
  src: url('/fonts/huiwen-fangsong.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HuiwenMincho';
  src: url('/fonts/Huiwenmincho-improved.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Noto Sans CJK SC", "Source Han Sans SC VF", "Clear Han Serif", sans-serif;
  font-weight: normal;
  letter-spacing: 0.5px;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "HuiwenMincho", sans-serif;
  margin-bottom: 0;
}
#header-post #nav a {
  font-family: "HuiwenMincho", sans-serif;
}
article time {
  //font-family: "HuiwenMincho", sans-serif;
  font-size: 90%;
  font-weight: normal;
}
.site-footer {
  font-family: "HuiwenMincho", sans-serif;
}
#special-h1 {
  font-family: 'YEFONTXiaoShiTou';
}
* {
  cursor: url('/cursor.png'), auto;
}
a:hover {
  cursor: url('/cursor.png'), pointer;
}
#menutable td, #menutable th {
  font-family: 'HuiwenFangsong',"Noto Sans CJK SC" !important;
}
code {
  font-family: ui-monospace, // San Francisco Mono on macOS and iOS
  "Cascadia Mono", "Segoe UI Mono", // Newer Windows monospace fonts that
    // are optionally installed. Most likely
    // to be rendered in Consolas
  "Liberation Mono", // Recently updated
  Menlo, Monaco, Consolas, // A few sensible system font choices
  monospace // The final fallback for rendering in monospace.;
}
.last-edit-time {
  font-size: 90%;
  font-family: Courier New, "Noto Sans CJK SC", cursive;
  font-weight: bold;
}