
// 大标题和导航栏


/* 整个导航栏容器 */
#header-post {
  /*position: fixed; !* 固定在页面顶部 *!*/
  top: 0;
  /* 顶部距离 */
  //left: 100; /* 左侧距离 */
  right: 0;
  /* 右侧距离 */
  display: inline-block;
  z-index: 100;
  /* 确保导航栏显示在页面内容上方 */
}
/* 导航栏列表 */
#header-post #nav ul {
  line-height: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  display: flex;
  flex-wrap: wrap; /* 允许导航项换行 */
}

/* 导航栏列表项 */
#header-post ul li {
  display: inline-block;
  margin-right: 15px;
  vertical-align: middle;
  box-shadow: 2px 0 0 0 var(--secondary-text-color);
}

/* 导航栏链接样式 */
#header-post #nav a {
  letter-spacing: .01em;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
}

.underline, #header-post #nav a:hover {
  text-decoration: underline;
  /* hover 时添加下划线 */
  text-decoration-color: var(--color-point);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* 在导航栏列表项前添加符号 */
#nav ul li:before {
  content: "";
  font-weight: bold;
  margin-right: 3px;
}

#nav ul li {
  padding: 0 0.5rem 0 0;
}


.header {
  display: flex;
  /* 使用 flexbox 布局 */
  align-items: center;
  /* 垂直居中对齐 */
}

.header-image img {
  flex-shrink: 0;
  /* 防止图片被压缩 */
  /* 图片与标题的间距 */
  margin: 0 !important;
}

.header-image {
  flex-grow: 0;
  flex-shrink: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;  /* 允许它占用剩余空间 */
}


header h1 {
  margin: 10px 0px -5px 0;
}

