//.theme-toggle {
//  position: fixed;
//  top: 20px;
//  right: 10px;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  width: 30px;
//  height: 10px;
//  cursor: pointer;
//  z-index: 1000;
//}
//
//#light-btn, #dark-btn {
//  width: 15px;
//  height: 15px;
//  border-radius: 50%;
//  transition: all 0.3s ease;
//}
//
//#light-btn {
//  color: var(--bg-color);
//}
//
//#dark-btn {
//  background-color: var(--btn);
//  display: none;
//  border: 2px solid var(--btn-hover);
//}
//
//body.dark-mode #light-btn {
//  display: none;
//}
//
//body.dark-mode #dark-btn {
//  display: block;
//}
//
//#light-btn:hover, #dark-btn:hover,
//body.dark-mode #dark-btn:hover{
//  background-color: var(--btn-hover);
//  border-color: var(--btn);
//}

/* 默认图标颜色 */
.theme-toggle svg {
  color: var(--btn);
  transition: color 0.3s ease;
}

.theme-toggle svg:hover {
  color: var(--btn-hover);
}
