// mumble小组件

.mumble {
  line-height: 1.3em;
  max-height: 233px;           /* 设置最大高度 */
  overflow-y: auto;            /* 超出最大高度时启用垂直滚动 */
}

.mumble::-webkit-scrollbar {
  display: none;               /* 隐藏滚动条（仅限 WebKit 浏览器） */
}

.statuscafe-entry {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: var(--neodb-card-color);
}

.statuscafe-username {
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

.status-meta {
  margin-left: auto;
  display: flex;
  gap: 0.5em;
}

.mumble-title {
  font-size: 1.2em;
}

.mumble-time {
  font-size: 90%;
}

.statuscafe-content {
  margin: 0 1em 0.5em 1em;
  letter-spacing: 0.8px;
}


// 拍立得小组件
#meow-box {
  padding: 5px 15px 15px 15px;
  margin-top: 10px;
  background-color: rgba(251, 230, 189, 0.13);
}

#meow-image {
  margin: 5px 0;
}

#meow-box {
  width: 280px; /* 桌面端固定宽度 */
  height: auto+10px; /* 让高度自适应 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden; /* 防止图片溢出 */
}

/* 让 img 不超出 */
#meow-image {
  width: 100%; /* 保证图片不超出容器 */
  max-width: 100%; /* 避免超出 */
  height: auto;
  aspect-ratio: 1 / 1; /* 保持 1:1 比例 */
  object-fit: cover; /* 保持图片填充 */
}

#meow-btn {
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  border: none;
  margin: 5px 10px;
  border-radius: 8px;
}

#meow-btn:active {
  transform: scale(0.95); /* 按下时缩小 */
}

@media (max-width: 768px) {
  #meow-box {
    width: 95%; /* 让盒子宽度填满父容器 */
    padding: 15px;
    margin: 20px 0px;
  }
}

// 便利贴 note

.note__item {
  margin-top: 20px;
  width: 95%;
  position: relative;
  margin-bottom: 15px;
}

.note__day {
  padding: 5px;
  font: 90% "HuiwenMincho", cursive;
  //border-bottom: 2px solid #111;
}

.note__list {
  padding: 8px 12px;
  line-height: 1.2;
  font-size: 90%;
}

.note {
  flex: 0 0 50%;
  /* 菜单部分占据 50% 宽度 */
  box-sizing: border-box;
}


/* 吸附在右侧的 sidebar */
#sidebar {
  position: absolute; /* 绝对定位，脱离流 */
  top: 140px; /* 紧贴着 .w 顶部 */
  right: -300px; /* Sidebar 距离 .grid-container 右边的距离，可以根据需要调整 */
  width: auto; /* Sidebar 宽度 */
  //height: 100%; /* 高度与父容器相同 */
  padding: 10px;
  transition: right 0.3s ease; /* 动画效果，使其更流畅 */
}

/* 当屏幕宽度小于 768px 时，隐藏 sidebar */

@media (max-width: 940px) {
  #sidebar {
    display: none; /* 隐藏 sidebar */
  }
}


#menutable {
  border: 0; /* 清除表格外边框 */
  border-collapse: collapse; /* 合并单元格边框 */
  width: 100%;
}

#menutable td, #menutable th {
  border: 0; /* 清除单元格边框 */
  padding: 0;
  font-display: swap;
}

#menutable-name:hover,
#menutable a:hover {
  text-shadow: var(--link-hover) 1px 0 10px;
  text-decoration: underline var(--color-point);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

#menutable a {
  color: inherit;
}

#menutable p {
  margin: 0rem 0;
}

/* 默认情况下，menu-content 隐藏 */
.menu-content {
  display: none;
}

/* 当菜单项展开时，添加 visible 类显示内容 */
.menu-content.visible {
  display: table-row;
}

.menu-item img {
  margin: 8px 0!important;
}

// search

#search {
  margin-top: 15px;
  min-height: 400px;
}

#search a {
  font-size: 120%;
  font-weight: bold;
  font-family: "HuiwenMincho", sans-serif;
  color: var(--link-color);
  text-decoration: none;
}

:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: var(--link-color);
  --pagefind-ui-text: var(--text-color);
  --pagefind-ui-background: var(--bg-color);
  --pagefind-ui-border: var(--border-color);
  --pagefind-ui-tag: var(--color-mark);
  --pagefind-ui-border-width: 0px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 1 / 1;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-font: "Noto Sans CJK SC", "Source Han Sans SC VF", "Clear Han Serif", sans-serif;
}

[a="dark"] {
  --pagefind-ui-primary: var(--link-color);
  --pagefind-ui-text: var(--text-color-dark);
  --pagefind-ui-background: var(--bg-color);
  --pagefind-ui-border: var(--border-color);
  --pagefind-ui-tag: var(--color-mark);
}

div.pagefind-ui__drawer {
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 10px;
}

#search li {
  margin: 0.4rem 0;
  padding: 0.5rem;
  border: 0px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  transition: background-color 0.2s ease; /* 添加过渡效果 */
}

#search li:hover {
  background-color: var(--bg-color-hover);
}

#search mark{
  color: var(--text-color);
  background: var(--mark);
}