{{ define "main" }}
{{ $archiveStyle := resources.Get "css/_archive-list-nav.scss" | toCSS }}
<link rel="stylesheet" href="{{ $archiveStyle.RelPermalink }}">

<!--移动端Nav-->
<div class="header-container" id="mobile-nav">
    <div class="header-inner">
        <div class="header-left">
            <img src="/cat/tumblrcat.png" alt="Icon" class="header-img">
            {{ partial "nav_index" . }}
        </div>
    </div>
</div>


<h1 id="list-title-h1">{{ .Title }}</h1>

    <body>
    <div class="main-container">
        <div id="page_posts" class="window active page_posts" style="">
        <div class="window-title" style="">
            <div class="buttons">
                <div class="button" style="background: #ffff4d;" onclick="history.back()"></div>
                <div class="button" style="background: #ff6b6b;" onclick="history.back()"></div>
            </div></div>
        <div class="window-content">
            <div class="postslist">
                {{/* begin of archive heading */}}
                <div class="post-head-wrapper-text-only">
                    {{- $type := .Type -}}
                    {{/* **** Category-wide stats **** */}}
                    {{- $scratch := newScratch -}}
                    {{- $articles_cat := (where .Site.RegularPages "Type" $type) -}}
                    {{- $articles_cat_count := len $articles_cat -}}
                    {{- range (where .Site.RegularPages "Type" $type) -}}
                        {{- $scratch.Add "allwordcount" .WordCount -}}
                    {{- end -}}
                    {{/* end of archive heading */}}
                </div>
                <div class="content">
                    <div class="">
                        <div class="">
                            {{/* **** Yearly archive **** */}}
                            {{/* Group articles by year and loop through them */}}
                            {{- $currentYear := now.Format "2006" | int -}}  <!-- 转换为整数 -->
                            {{- range (.Site.RegularPages.GroupByDate "2006") -}}
                                {{- $articles_yearly := (where (where .Pages "Type" $type) "Params.hidden" "!=" true) -}}
                                {{- $articles_yearly_count := len $articles_yearly -}}
                                {{- $year := .Key | int -}}  <!-- 确保年份是整数 -->

                                {{ if and (gt .Key 1) (gt $articles_yearly_count 0) }}
                                    <h3 class="archive--year">
                                        {{ .Key }} / {{ $articles_yearly_count }} {{ if ne $articles_cat_count 1 }}entries{{ else }}entry{{ end }}
                                    </h3>

                                    {{ if eq $year $currentYear }}
                                        <ul>
                                            {{- range $articles_yearly -}}
                                                <li>
                                                    <span class="">{{ .Date.Format "01-02" }}</span>&emsp;
                                                    <a href="{{ .RelPermalink }}">
                                                        {{ if .Draft }}{{ i18n "draft" }}{{ end }}{{ .Title }}
                                                    </a>
                                                </li>
                                            {{- end -}}
                                        </ul>
                                    {{ else }}
                                        <details style="padding: 0px; margin: 0px;">
                                            <summary style="padding: 10px;">Click Here</summary>
                                            <ul>
                                                {{- range $articles_yearly -}}
                                                    <li>
                                                        <span class="">{{ .Date.Format "01-02" }}</span>&emsp;
                                                        <a href="{{ .RelPermalink }}">
                                                            {{ if .Draft }}{{ i18n "draft" }}{{ end }}{{ .Title }}
                                                        </a>
                                                    </li>
                                                {{- end -}}
                                            </ul>
                                        </details>
                                    {{ end }}
                                {{ end }}
                            {{ end }}


                        </div>
                        <div id="index-content">
                        </div>
                    </div>
                    {{ $randomcat := resources.Get "js/randomcat.js" }}
                </div>
            </div>
        </div>
    </div>
        <div class="note menu-float" style="flex: 0 0 45%;">
<!--            pcnav-->
            <div class="header-container" id="pc-nav">
                <div class="header-inner">
                    <div class="header-left">
                        <img src="/cat/tumblrcat.png" alt="Icon" class="header-img">
                        {{ partial "nav_index" . }}
                    </div>
                </div>
            </div>
            <div class="note__item">
                <div id="copyright" class="note__list"
                     >
                    {{ with site.GetPage "copyright" }}
                    <h3 style="margin-top: 1em;">{{ .Title }}</h3>
                    {{ .Content | safeHTML }}
                    {{ else }}
                    <p>404 Not Found</p>
                    {{ end }}
                </div>
            </div>
        <div class="note__item">
            <div class="note__day">更新日志</div>
            <div class="note__list" style="font-size: 80%;">
                <details class="mumble" style="max-height: 250px;">
                    <summary>Changelog...</summary>
                    {{ with site.GetPage "changelog" }}
                        {{ .Content | safeHTML }}
                    {{ else }}
                        <p>404 Not Found</p>
                    {{ end }}
                </details>
            </div>
        </div>
                        {{ partial "mumble.html" . }}

            <hr class="decoration-hr">
            <p style="text-align: center;"><a href="/search" target="_blank">📖 Search for...</a>
            </p>

    </div>
    </div>
    </body>
    {{- partial "footer.html" . -}}
{{ end }}