<style>
    :root {
        --waline-color: unset;
        --waline-bgcolor-light: unset;
    }
    .wl-card {
        border: 0px solid #eee;
    }

    .wl-card .wl-quote {
        border-inline-start: 0px dashed rgba(237, 237, 237, .5);
    }

    .wl-card-item {
        position: relative;
        display: flex;
        padding: 0.2em;
    }

    .wl-addr {
        display: none !important;
        color: transparent !important;
    }

    .wl-content .vemoji,
    .wl-content .wl-emoji {
        display: inline-block;
        vertical-align: baseline;
        height: 3.4em !important;
        margin: -0.125em 0.25em;
    }

    img.wl-emoji,
    img.vemoji {
        vertical-align: sub;
        transition: ease-out 0.6s;
    }

    img.wl-emoji:hover,
    img.vemoji:hover {
        transform: scale(1.8) !important;
    }

    .wl-header {
        display: flex;
        overflow: hidden;
        padding: 0 4px;
        border-bottom: 0px dashed var(--waline-border-color);
        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
    }

    .wl-btn.primary {
        border-color: transparent !important;
        background: Peru;
        color: white;
    }

    @media (max-width: 580px) {
        .wl-header-item:not(:last-child) {
            border-bottom: 0px dashed var(--waline-border-color);
        }
    }

    :root {
        --waline-theme-color: Peru;
        --waline-active-color: Peru;
        --waline-light-grey: unset;
        --waline-info-color: unset;
        /*--waline-color: unset;*/
        --waline-border: 0px solid peru;
    }
    [data-waline] a {
        color:  var(--link-color);
    }

    .wl-card .wl-badge {
        display: inline-block;
        margin-inline-end: 1em;
        padding: 0 .3em;
        border: 2px solid peru;
        border-radius: 4px;
        color: peru;
        font-weight: bold;
        font-size: 65%;
    }

    .wl-editor:focus,
    .wl-input:focus {
        background: transparent;
    }

    .wl-panel {
        background-color: rgb(242, 237, 230);
        /*box-shadow: 1px 1px 2px rgba(205, 133, 63, 0.7);*/
        /*评论区输入框的背景颜色*/
        /*小豆泥配色*/
        border: rgb(163, 143, 125) solid 1px;
        background-image:
                linear-gradient(rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.8)),
                url('/site/bg-rain2_5color1.gif');
        background-repeat: repeat;
    }
    body[a="dark"] .wl-panel {
        background-image: none !important;
        background-color: rgba(23, 14, 14, 0.38) !important;
    }

    .wl-card .wl-delete,
    .wl-card .wl-like,
    .wl-card .wl-reply,
    .wl-card .wl-edit,
    .wl-card span.wl-nick,
    .wl-empty, .wl-admin-actions,
    [data-waline] p {
        color: unset;
    }

    .wl-info .wl-text-number {
        color: unset;
        font-size: .75em;
    }
    .wl-editor, .wl-input {
    font-family: inherit;
        font-size: 80%;
    }

</style>
<div id="waline" data-pagefind-ignore></div>
<script>
    Waline.init({
        el: "#waline",
        serverURL: "https://co.gregueria.icu/",
        emoji: [
            "https://cdn.jsdelivr.net/gh/Saidosi/azuki-emoji-for-waline@1.0/azukisan",
            "https://cdn.jsdelivr.net/gh/norevi/blob-emoji-for-waline@2.0/blobs-gif",
            "https://cdn.jsdelivr.net/gh/norevi/waline-blobcatemojis@1.0/blobs",
            "https://cdn.jsdelivr.net/gh/norevi/blob-emoji-for-waline@2.0/blobs-png",
        ],
        requiredMeta: ["name", "email", "url"],
        dark: true,
        locale: {
            placeholder: '这里有小豆泥表情，请肆无忌惮地使用！^^',
            admin: 'admin',
        }
    });
</script>