{{ define "main" }}
<style>

</style>

<div class="" style="min-height: 80vh;">
<header class="note__item" >
    <div class="note__list" style="text-align: center">
        <h1>{{ $.Site.Title }}</h1>
    <div style="margin-top: 20px">
    {{ partial "nav.html" . }}
    </div>
    </div>
</header>

<div class="note__item" >
    <div class="note__list">
        {{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}
    </div>
</div>
</div>
<!--<style>-->

<!--    .header-container {-->
<!--        display: flex;-->
<!--        justify-content: center;-->
<!--        align-items: center;-->
<!--        height: 80vh;-->
<!--    }-->

<!--    .header-inner {-->
<!--        display: flex;-->
<!--        align-items: center;-->
<!--    }-->

<!--    .header-img {-->
<!--        width: 230px;-->
<!--        object-fit: cover;-->
<!--        object-position: center;-->
<!--        filter: drop-shadow(10px 2px 0px var(&#45;&#45;index-shadow));-->
<!--        margin: -1em -1.6em -1em -1em;-->
<!--        /* 不要 z-index: -1，确保图片可以响应 hover */-->
<!--        transition: transform 0.2s ease;-->
<!--        animation: none;-->

<!--        /* 禁止选中拖拽 */-->
<!--        user-select: none;-->
<!--        -webkit-user-drag: none;-->
<!--        -webkit-user-select: none;-->
<!--        -moz-user-select: none;-->
<!--        -ms-user-select: none;-->
<!--    }-->



<!--    .header-content {-->
<!--        display: flex;-->
<!--        flex-direction: column;-->
<!--        gap: 6px;-->
<!--    }-->

<!--    .header-content h1 {-->
<!--        filter: drop-shadow(4px 2px 0px var(&#45;&#45;index-shadow));-->
<!--        letter-spacing: -5px;-->
<!--        margin: 0 0 -0.2em -0.6em;-->
<!--        font-size: 45px;-->
<!--        line-height: 1em;-->
<!--    }-->

<!--    /* 保证 nav 始终在最前层 */-->
<!--    #nav {-->
<!--        position: relative;-->
<!--        z-index: 10;-->
<!--    }-->

<!--    #nav ul li {-->
<!--        padding: 0 0.5rem 0 0;-->
<!--        margin: 0 0 -0.3em -1em;-->
<!--        text-transform: lowercase;-->
<!--        font-family: Courier New, cursive;-->
<!--        letter-spacing: 0em;-->
<!--    }-->

<!--    #nav ul li a:hover {-->
<!--        background-color: var(&#45;&#45;mark);-->
<!--    }-->
<!--    /* 默认显示 PC 版，隐藏移动版 */-->
<!--    .h1-mobile {-->
<!--        display: none;-->
<!--    }-->
<!--    .h1-pc {-->
<!--        display: inline;-->
<!--    }-->

<!--    /* 小屏幕时：显示移动版，隐藏 PC 版 */-->
<!--    @media screen and (max-width: 600px) {-->
<!--        .h1-mobile {-->
<!--            display: inline;-->
<!--        }-->
<!--        .h1-pc {-->
<!--            display: none;-->
<!--        }-->
<!--    }-->

<!--</style>-->

<!--{{ partial "sidebar.html" . }}-->
{{ partial "footer.html" . }}
{{ end }}
